<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
  <meta name="description" content="Developer's Guide">
  <meta name="format-detection" content="telephone=no">
  <title>Developer's Guide</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/test.css">
</head>
<body class="_booting _noscript">
<noscript class="_fail">Developer's Guide requires JavaScript to run.</noscript>
<%- include app %>
<script type="text/javascript">
  var sideBarData = <%-JSON.stringify(list, null, 4)%>;
</script>
<script src="/js/farman.libs.js"></script>
<script src="/js/farman.sea-mods.js"></script>
<script src="/js/farman.page.js"></script>
<script type="text/javascript">
  seajs.use(["app","routes"], function(App, routes){
    var appInstance = App.newInstance([routes], "index");

    appInstance.fire("start");
    appInstance.hideLoading();
    this.Farman = appInstance;
  });
</script>
</body>
</html>
