<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
  <meta name="description" content="Developer">
  <meta name="format-detection" content="telephone=no">
  <title>Developer</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/test.css">
</head>
<body class="_booting _noscript">
<noscript class="_fail">Developer requires JavaScript to run.</noscript>
<%- include app.html %>
<!-- <script data-main="src/main" src="/src/vendor/require.js"></script> -->
<!-- <script src="/src/sea-debug.js"></script> -->
<!-- <script>
// seajs 的简单配置
// seajs.config({
//   base: "./js/vendor/",
//   alias: {
//     "underscore": "underscore",
//     "fastclick": "fastclick",
//     "prism": "prism",
//     "zepto": "zepto",
//     "raven": "raven",
//     "debug": "debug"
//   }
// })

// 加载入口模块
seajs.use(['./src/app_config'], function(app_config) {
  var config = {
    paths: app_config.paths
  };
  seajs.config(config);
});
seajs.use('./src/app/app',function(app){
  app.init();
})
</script> -->
<script>
var App = {
    docs_host: '',//http://baidu.com',//'localhost:3000',
    environment: 'dev',
    docs_prefix: 'data',
    version: ''
};
</script>
<!-- <script src="/src/vendor/zepto.js"></script> -->
<!-- <script src="/src/vendor/underscore.js"></script> -->


<script src="/src/lib/class.js"></script>
<script src="/src/lib/ajax.js"></script>
<script src="/src/lib/util.js"></script>
<script src="/src/lib/events.js"></script>
<script src="/src/lib/store.js"></script>
<script src="/src/lib/page.js"></script>

<script src="/src/app/app.js"></script>
<script src="/src/news.js"></script>
<script src="/src/docs.js"></script>
<script src="/src/app/config.js"></script>

<script src="/src/app/appcache.js"></script>
<script src="/src/app/settings.js"></script>
<script src="/src/app/router.js"></script>
<script src="/src/app/shortcuts.js"></script>
<script src="/src/app/searcher.js"></script>
<script src="/src/app/db.js"></script>

<script src="/src/collections/collection.js"></script>
<script src="/src/collections/docs.js"></script>
<script src="/src/collections/entries.js"></script>
<script src="/src/collections/types.js"></script>

<script src="/src/models/model.js"></script>
<script src="/src/models/doc.js"></script>
<script src="/src/models/entry.js"></script>
<script src="/src/models/type.js"></script>

<script src="/src/views/view.js"></script>
<script src="/src/views/pages/base.js"></script>

<script src="/src/views/layout/nav.js"></script>
<script src="/src/views/layout/document.js"></script>
<script src="/src/views/layout/path.js"></script>

<script src="/src/views/content/content.js"></script>
<script src="/src/views/content/root_page.js"></script>
<script src="/src/views/content/entry_page.js"></script>
<script src="/src/views/content/type_page.js"></script>
<script src="/src/views/content/static_page.js"></script>
<script src="/src/views/content/offline_page.js"></script>

<script src="/src/views/sidebar/sidebar.js"></script>
<script src="/src/views/sidebar/sidebar_hover.js"></script>
<script src="/src/views/sidebar/doc_list.js"></script>
<script src="/src/views/sidebar/doc_picker.js"></script>
<script src="/src/views/list/paginated_list.js"></script>
<script src="/src/views/sidebar/entry_list.js"></script>
<script src="/src/views/sidebar/type_list.js"></script>
<script src="/src/views/sidebar/results.js"></script>

<script src="/src/views/list/list_select.js"></script>
<script src="/src/views/list/list_fold.js"></script>
<script src="/src/views/list/list_focus.js"></script>

<script src="/src/views/misc/notif.js"></script>
<script src="/src/views/misc/news.js"></script>
<script src="/src/views/misc/notice.js"></script>

<script src="/src/templates/base.js"></script>
<script src="/src/templates/sidebar_tmpl.js"></script>
<script src="/src/templates/error_tmpl.js"></script>
<script src="/src/templates/notif_tmpl.js"></script>
<script src="/src/templates/notice_tmpl.js"></script>
<script src="/src/templates/path_tmpl.js"></script>

<script src="/src/templates/pages/root_tmpl.js"></script>
<script src="/src/templates/pages/type_tmpl.js"></script>
<script src="/src/templates/pages/about_tmpl.js"></script>
<script src="/src/templates/pages/new_tmpl.js"></script>
<script src="/src/templates/pages/help_tmpl.js"></script>
<script src="/src/templates/pages/offline_tmpl.js"></script>

<script src="/src/views/search/search.js"></script>
<script src="/src/views/search/search_scope.js"></script>

<script src="/src/application.js"></script>
<script src="/src/debug.js"></script>

</body>
</html>
