<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
  <meta name="description" content="Developer's Guide">
  <meta name="format-detection" content="telephone=no">
  <title>html Developer's Guide</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/test.css">
</head>
<body class="_booting _noscript">
<noscript class="_fail">Developer's Guide requires JavaScript to run.</noscript>
<%- include app %>
<script>
var App = {
    docs_host: '',//http://baidu.com',//'localhost:3000',
    environment: 'dev',
    docs_prefix: 'data',
    version: ''
};
</script>
<!-- <script src="/js/sea-debug.js"></script> -->
<script src="/js/lib/util.js"></script>
<script src="/js/lib/store.js"></script>
<script src="/js/lib/events.js"></script>
<!-- <script src="/js/lib/events.js"></script> -->
<script src="/js/news.js"></script>
<script src="/js/app/app.js"></script>
<script src="/js/docs.js"></script>
<script src="/js/app/appcache.js"></script>
<script src="/js/app/settings.js"></script>
<script src="/js/collections/collection.js"></script>
<script src="/js/collections/docs.js"></script>
<script src="/js/collections/entries.js"></script>
<script src="/js/collections/types.js"></script>
<script src="/js/app/router.js"></script>
<script src="/js/models/model.js"></script>
<script src="/js/models/doc.js"></script>
<script src="/js/models/entry.js"></script>
<script src="/js/models/type.js"></script>
<!-- <script src="/js/app/searcher.js"></script> -->
<script src="/js/lib/page.js"></script>
<script src="/js/lib/ajax.js"></script>
<script src="/js/app/shortcuts.js"></script>
<script src="/js/views/view.js"></script>
<script src="/js/views/layout/nav.js"></script>
<script src="/js/views/content/content.js"></script>
<script src="/js/views/content/entry_page.js"></script>
<script src="/js/views/sidebar/sidebar.js"></script>
<script src="/js/views/sidebar/sidebar_hover.js"></script>
<script src="/js/views/layout/document.js"></script>
<script src="/js/views/layout/path.js"></script>
<script src="/js/views/sidebar/results.js"></script>
<script src="/js/views/sidebar/doc_list.js"></script>
<script src="/js/views/list/list_select.js"></script>
<script src="/js/views/list/list_fold.js"></script>
<script src="/js/views/list/list_focus.js"></script>
<script src="/js/views/sidebar/doc_picker.js"></script>
<script src="/js/views/content/root_page.js"></script>

<script src="/js/templates/base.js"></script>
<script src="/js/templates/pages/root_tmpl.js"></script>
<script src="/js/templates/pages/type_tmpl.js"></script>
<script src="/js/templates/pages/about_tmpl.js"></script>
<script src="/js/templates/pages/new_tmpl.js"></script>
<script src="/js/templates/pages/help_tmpl.js"></script>
<script src="/js/templates/pages/offline_tmpl.js"></script>
<script src="/js/templates/sidebar_tmpl.js"></script>
<script src="/js/views/content/static_page.js"></script>
<script src="/js/views/content/offline_page.js"></script>
<script src="/js/views/content/type_page.js"></script>
<script src="/js/views/content/entry_page.js"></script>
<script src="/js/views/content/static_page.js"></script>
<script src="/js/views/layout/path.js"></script>
<script src="/js/templates/error_tmpl.js"></script>
<script src="/js/templates/notif_tmpl.js"></script>
<script src="/js/templates/notice_tmpl.js"></script>
<script src="/js/views/misc/notif.js"></script>
<script src="/js/views/misc/news.js"></script>
<script src="/js/views/misc/notice.js"></script>
<!-- <script src="/js/views/templates/sidebar_tmpl.js"></script>
<script src="/js/views/templates/pages/root_tmpl.js"></script> -->


<script src="/js/app/config.js"></script>
<script src="/js/app/db.js"></script>
<script src="/js/app/searcher.js"></script>
<script src="/js/views/search/search.js"></script>
<script src="/js/views/search/search_scope.js"></script>

<script src="/js/application.js"></script>
<script src="/js/debug.js"></script>


</body>
</html>
