<style>
body .hide{display: none !important;}
._list-box{overflow: auto;}
.list-stream .item{padding:10px 0;margin:0;border-bottom:1px solid #eee;}
.list-stream .rank{}
.list-stream .rank i{display: inline-block;width:50px;font-style: normal;}
.list-stream .img{float:left;display:inline;width: 3rem;height:3rem;margin:0.4rem 1rem 0 0;background: #ccc;}
.list-stream .summary{overflow: auto;}
.bookmark{display: none;}
.list-stream .img:hover .bookmark{display: block;}
.list-stream h3{margin:0;}
.list-stream p{margin:0;}
ul.inline{margin: 0.5rem 0;padding: 0;}
ul.inline li {display: inline-block;padding:0 1rem;}
.taglist .tag{display: inline-block;padding: 0 5px; background: #E0EAF1;}
.list-stream .gray{color: #999; display: none;}
</style>
<div class="_list-box">
    <ul class="nav inline">
        <li class="active"><a href="/list">推荐的</a></li>
        <li><a href="/list/hottest">热门的</a></li>
        <li><a href="/list/newest">全部的</a></li>
    </ul>
    <div class="list-stream">
        <section class="item">
            <div class="img"><span class="bookmark favioited">收藏</span></div>
            <div class="summary">
                <h3><a href="#">Amaze UI <small>presenter</small></a></h3>
                <p>Amaze UI 是一个移动优先的跨屏前端框架。</p>
                <div class="info">
                    <span class="rank" title="这里改为伪类实现icon图标+数字">
                        <i class="views" title="浏览量">2345</i>
                        <i class="votes">赞</i>
                        <i class="share">分享</i>
                    </span>
                    <span class="taglist ib">
                        <a href="#" class="tag tag-sm">javascript</a>
                        <a href="#" class="tag tag-sm">编程</a>
                    </span>
                </div>
            </div>
        </section>
        <section class="item">
            <div class="img"><span class="bookmark favioited">收藏</span></div>
            <div class="summary">
                <p class="gray">人面桃花 16分钟前分享</p>
                <h3><a href="#">Amaze UI <small>presenter</small></a></h3>
                <p>Amaze UI 是一个移动优先的跨屏前端框架。</p>
                <div class="info">
                    <span class="rank" title="这里改为伪类实现icon图标+数字">
                        <i class="views" title="浏览量">2345</i>
                        <i class="votes">赞</i>
                    </span>
                    <span class="taglist ib">
                        <a href="#" class="tag tag-sm">javascript</a>
                        <a href="#" class="tag tag-sm">编程</a>
                    </span>
                </div>
            </div>
        </section>
        <section class="item">
            <div class="img"><span class="bookmark favioited">收藏</span></div>
            <div class="summary">
                <h3><a href="#">Amaze UI <small>presenter</small></a></h3>
                <p>Amaze UI 是一个移动优先的跨屏前端框架。</p>
                <div class="info">
                    <span class="rank" title="这里改为伪类实现icon图标+数字">
                        <i class="views" title="浏览量">2345</i>
                        <i class="votes">赞</i>
                    </span>
                    <span class="taglist ib">
                        <a href="#" class="tag tag-sm">javascript</a>
                        <a href="#" class="tag tag-sm">编程</a>
                    </span>
                </div>
            </div>
        </section>
    </div> <!-- //.list-stream -->
      

    <div class="text-center">
        <ul class="pager">
            <li>以上是部分更新，你还可以查看</li>
            <li><a href="/list/newest">全部问题</a></li>
            <li>或者</li>
            <li><a href="/list/hottest">热门问题</a></li>
            <li>列表</li>
        </ul>
    </div>
</div>